.navbar {
  height: 50px;
  line-height: 50px;
  background: #444;
  .navbar-inner {
    display: flex;
    align-items: center;
    .brand {
      display: inline-block;
      height: 34px;
      width: 120px;
      line-height: 34px;
      padding: 3px 20px;
      img {
        max-width: 100%;
      }
    }
    .navbar-search {
      display: inline-block;
      .search-text {
        width: 240px;
        height: 20px;
        padding: 3px 5px 3px 22px;
        border-radius: 15px;
        border-width: 0px;
        background: url("https://static2.cnodejs.org/public/images/search.e53b380a.hashed.png")
          4px 4px no-repeat #888;
      }
    }
  }
}
